 
 {% load static %}
 
 <!-- main-footer -->
 <footer class="main-footer">
    <div class="footer-top" style="background-color: #ec008c;">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 big-column">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="/"><img src="{% static 'home/assets/images/logo-magazine.png' %}" width="150" height="48" alt=""></a></figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3 style="color: #ffcb08;">Categorias</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="/" style="color: #fff;">Homem</a></li>
                                        <li><a href="/" style="color: #fff;">Mulher</a></li>
                                        <li><a href="/" style="color: #fff;">Acessorios</a></li>
                                        <li><a href="/" style="color: #fff;">Crianças</a></li>
                                        <li><a href="/" style="color: #fff;">Shoe</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3 style="color: #ffcb08;">Links uteis</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="/" style="color: #fff;">Blog</a></li>
                                        <li><a href="/" style="color: #fff;">Sobre nós</a></li>
                                        <li><a href="/" style="color: #fff;">Termos de uso</a></li>
                                        <li><a href="/" style="color: #fff;">Lojas</a></li>
                                        <li><a href="/" style="color: #fff;">Contato</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 big-column">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3 style="color: #ffcb08;">Contato</h3>
                                </div>
                                <ul class="info-list clearfix">
                                    <li style="color: #fff;">Brasilia - DF</li>
                                    <li><a href="tel:23055873407" style="color: #fff;">+55 (61) 3456-3003</a></li>
                                    <li><a href="mailto:info@example.com" style="color: #fff;">contato@<br>magazinedaeconomia.com.br</a></li>
                                </ul>
                                <ul class="footer-social clearfix">
                                    <li><a href="/"><i class="fab fa-facebook-f" style="color: #2CE8CB;"></i></a></li>
                                    <li><a href="/"><i class="fab fa-twitter" style="color: #2CE8CB;"></i></a></li>
                                    <li><a href="/"><i class="fab fa-vimeo-v" style="color: #2CE8CB;"></i></a></li>
                                    <li><a href="/"><i class="fab fa-google-plus-g" style="color: #2CE8CB;"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget newsletter-widget">
                                <div class="widget-title">
                                    <h3 style="color: #ffcb08;">Newsletter</h3>
                                </div>
                                <div class="widget-content">
                                    <p style="color: #fff;">Se inscreva para receber atualizações</p>
                                    <form action="contact.html" method="post" class="newsletter-form">
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Insira seu E-mail" required="">
                                            <button type="submit" class="theme-btn-two" style="color: #fff;">Assinar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container clearfix">
            <ul class="cart-list pull-left clearfix">
                <li><a href="index.html"><img src="{% static 'home/assets/images/resource/card-1.png' %}" alt=""></a></li>
                <li><a href="index.html"><img src="{% static 'home/assets/images/resource/card-2.png' %}" alt=""></a></li>
                <li><a href="index.html"><img src="{% static 'home/assets/images/resource/card-3.png' %}" alt=""></a></li>
                <li><a href="index.html"><img src="{% static 'home/assets/images/resource/card-4.png' %}" alt=""></a></li>
            </ul>
            <div class="copyright pull-right">
                <p><a href="index.html">Yorus</a> &copy; 2022 Deesenvolvido por <a href="https://lucasmart.me" target="_blank" >Lucas</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->


